
.container {
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.metrics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.metric {
    text-align: center;
}

.metric h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ddd;
}